@page "/"
@using System.Timers
@using DmxLightControlDemo.Core
@inject IStateManager StateManager

<PageTitle>DMX Light Control Demo</PageTitle>

<div class="container">
    <h1>DMX Light Control Demo</h1>
    
    <p>fixture</p>
    
    <p>parameter</p>
    
    <div class="slideGrouper">
        <div class="sliderContain">
            <input type="range" step="1" @bind-value="_currentValue" min="0" max="255" @oninput="HandleRange">
        </div>
        <span class="slideValue">@_currentValue</span>
    </div>
</div>

@code
{
    protected override Task OnInitializedAsync()
    {
        _dmxParameter = StateManager.Fixtures[0].Parameters[0];
        _timer.Interval = 25;
        _timer.AutoReset = false;
        _timer.Elapsed += (_, _) =>
        {
        };
        return base.OnInitializedAsync();
    }
    
    private void HandleRange(ChangeEventArgs obj)
    {
        StateManager.SetDmxValue(_dmxParameter, Convert.ToByte(obj.Value));
        _currentValue = _dmxParameter.CurrentValue;
        _timer.Start();
    }

    private DmxParameter _dmxParameter;
    private byte _currentValue;
    private readonly Timer _timer = new ();
}
